/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evitar overflow en la pantalla principal */
    font-family: Arial, sans-serif;
}

/* Encabezado */
header .banner {
    background: #66b3ff;
    padding: 20px; /* Padding general */
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 2em;
    margin: 10px 0;
}

.banner-content {
    font-size: 1.2em;
    margin-top: 10px;
}

.banner-content img.banner-flag {
    width: 30px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}

/* Contenedor principal */
main {
    padding: 20px;
    overflow-y: auto; /* Habilitar scroll dentro del main */
    max-height: calc(100vh - 150px); /* Ajustar la altura máxima */
}

/* Panel del cuestionario */
.quiz-panel {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-panel h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.quiz-panel input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Ajustes responsivos para móviles */
@media (max-width: 1200px) {
    header .banner {
        padding: 10px; /* Reducir el padding */
    }

    header h1 {
        font-size: 1.2em; /* Reducir el tamaño del texto */
        margin: 5px 0; /* Reducir margen */
    }

    .banner-content {
        font-size: 0.9em; /* Reducir tamaño del texto */
        margin-top: 5px;
    }

    .banner-content img.banner-flag {
        width: 20px; /* Reducir tamaño de la bandera */
        margin-top: 5px;
    }

    main {
        padding: 5px; /* Reducir padding en dispositivos pequeños */
        max-height: calc(100vh - 150px); /* Ajustar altura del contenedor */
    }

    .quiz-panel {
        margin-bottom: 10px; /* Reducir espacio entre elementos */
    }

    .quiz-panel h2 {
        font-size: 1.2em; /* Reducir tamaño de los encabezados */
    }

    .quiz-panel input {
        padding: 8px; /* Reducir tamaño de los campos de entrada */
    }
}
